@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'CaskaydiaMonoNerd';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/CaskaydiaMonoNerd/CaskaydiaMonoNerdFont-Regular.ttf');
  }
}
